.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  max-width: var(--container-width);
  margin: auto;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}
