* {
  box-sizing: border-box;
}

body {
  --container-width: 800px;
  --image-width: 80px;

  @media (max-width: 850px) {
    --container-width: 650px;
  }

  @media (max-width: 770px) {
    --container-width: 500px;
  }

  @media (max-width: 550px) {
    --container-width: 450px;
  }
}
