.separator {
  &__header {
    border-top: 2px solid var(--brown-grey);
    width: 30px;
  }

  &__card {
    display: none;
    width: 100%;
    height: 1px;
    background: var(--gold-grey);

    @media (max-width: 500px) {
      display: block;
      margin-bottom: 10px;
    }
  }
}
